<div class="main users-new text-center">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <div class="form-body">
        <p>アカウントをお持ちでない方はこちら</p>
        <a href="/users/signup" class="btn btn-default btn-lg active" role="button">新規会員登録</a>
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        <%= form_tag("/login") do %>
          <p>Email</p>
          <input name="email" value="<%= @email %>">
          <p>Passwrod</p>
          <input type="password" name="password" value="<%= @password %>"><br>
          <input type="submit" value="ログイン">
        <% end %>
      </div>
    </div>
  </div>
</div>
