// Place all the styles related to the enquets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit-btm {
    border-color: #707070;
    border-radius: 20px;
    width: 100%;
}

.submit-btm {
  background-color: #707070;
  color: #FFF;
  font-weight: bold;
}
