// Place all the styles related to the Tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.orange{
  color:orange;
}
 .top-image{
   width: 100%;
 }
.signup-logo{
  width: 24%;
}
.signup-logo2{
  width:12%
}
.what p{
  margin-top: 21%;
}
.features{
  font-size: 23px;
}
.feature-images{
  height: 70%;
}
// .cloud {
//     position: relative;
// }
.cloud-text{
 padding: 50px 20px;
}
.cloud{
  background-image: url(cloud.png);
  width: 100%;
}
// .cloud {
//   position: relative;
// }
// .cloud p {
//   position: absolute;/*絶対配置*/
//   color: black;/*文字は白に*/
//   top: 0;
//   left: 0;
//   }
//   .cloud img {
//   width: 100%;
//   }
