<%= form_with(model: enquet, local: true) do |form| %>
  <% if enquet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enquet.errors.count, "error") %> prohibited this enquet from being saved:</h2>

      <ul>
        <% enquet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
